name: PR
on:
  pull_request:
    branches: [master]
concurrency:
  group: ci-pr-${{ github.ref }}
  cancel-in-progress: true
jobs:
  test:
    name: Tests
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        rust: [stable]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true
      - name: Cache Builds
        uses: Swatinem/rust-cache@v1
      - name: Checkout
        uses: actions/checkout@v2
      - name: Compile
        run: cargo test --no-run
      - name: Test
        run: cargo test